.btn-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: #ffda07;
  color: #000;
  border-radius: 2px;
  padding: 0.8rem 2rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}
.btn-principal:hover {
  background: rgba(5, 5, 5, 0.918);
  color: #ffda07;
}
.welcome {
  height: calc(100vh - 75.13px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/welcome-garage-2.webp) center center fixed no-repeat;
  background-size: cover;
  border-bottom: 5px solid #ffda07;
  box-shadow: 0 0 40px #ffda077e;
}
.welcome .btn-principal {
  animation: float 0.6s ease-in-out infinite alternate;
}
