.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffda07 94%, #0000) top/9px 9px
      no-repeat,
    conic-gradient(#0000 30%, #ffda07);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-loader 1s infinite linear;
}

@keyframes spinner-loader {
  100% {
    transform: rotate(1turn);
  }
}

.center-50 {
  display: grid;
  place-items: center;
  align-content: center;
  height: 50vh;
}
